@import "../../assets/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #000000;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  margin-top: 5vh;
  align-items: center;
  gap: 5vh;
  color: white;
}
.summary{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.reviewContainer {
  width: 60vw;
  height: 20vh;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}

.reviewtitle {
  font-size: 35px;
}
.ratingLength{
  display: flex;
  justify-content: left;
}
.reviewname {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  
}

.reviewinfo {
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 10px;
}

.averageRating {
  font-size: 30px;
  margin-bottom: 20px;
}

.ratingStar {
  font-size: 20px;
  color: orange;
}
.reviewitem{
  display: flex;
  flex-direction: row;
}
.queotsize {
  font-size: 50px;
  margin-left: 8px;
  margin-bottom: 20px;
}

.reviewContent{
  font-size: 20px;
  color: orange;
  margin-left: 20px;
  margin-top: 25px;
  font-weight: bold;  
}
