@import "../../assets/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


.container {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100vh;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

.reviewContainer {
    width: 60vw;
    height: 20vh;
    border: 2px solid white;
    border-radius: 10px;
}