@import "../../assets/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title{
  font-size: 25px;
  margin-bottom: 2vh;
  text-align: center;
}
.eattitle{
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
}

.joinmessage{
  margin-top: 5vh;
  font-size: 13px;
  color: grey;
  text-align: center;
  margin-bottom: 1vh;
}

.logincontainer {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.loginbtn {
  margin-top: 5vh;
  border: 0ch;
  color: white;
  background-color: orange;
  width: 30vw;
  height: 10vh;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  display: flex; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.admin{
  margin-top: 5vh;
  cursor: pointer;
  font-weight: bold;
}