@import "../../assets/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬 */
  width: 100%;
  max-width: 500px; /* 컨테이너의 최대 폭 지정 */
  margin: 0 auto; /* 좌우 마진을 auto로 설정하여 가운데 정렬 */
}
.title {
  margin-top: 10vh;
  font-size: 30px;
  font-weight: bold;
}
label, input {
  width: 100%; /* 폭을 100%로 설정하여 콘텐츠가 컨테이너의 폭을 꽉 채우게 함 */
  margin-bottom: 10px; /* 태그들 사이의 간격 조정 */
  display: block;
}

input {
  padding: 10px; /* 입력란 내부의 여백 추가 */
  border: 1px solid #ccc; /* 테두리 스타일링 */
  border-radius: 5px; /* 테두리 모서리 둥글게 */
  outline: none; /* 포커스 시 외곽선 제거 */
}

input[type="file"] {
  padding: 0; /* 파일 입력란의 경우 내부 패딩 제거 */
}

input:focus {
  border-color: #007bff; /* 입력란 포커스 시 테두리 색상 변경 */
}

